html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.product-card {
  padding: 1.5rem;
  width: calc(50% - .75rem);
  border: 3px dotted lightgray;
  border-radius: 1rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.product-modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.product-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1.5rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  z-index: 1001;
  border-radius: 1rem;
  width: 80vw;
}

.close-modal {
  position: absolute;
  padding: 0.1rem 0.5rem;
  border-radius: 0.35rem;
  top: 0.7rem;
  right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-modal:hover {
  background-color: rgba(100, 100, 100, 0.3);
}