@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Delta's Crafts</h1>
</div>

<div class="card-column">

    @foreach (var product in Model.Products)
    {
        <div class="product-card">
            <div class="card-img" style="background-image: url('@product.Image'); height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <div>@product.Description</div>
                <hr />
                <div>-@product.Maker</div>
            </div>
        </div>
    }
</div>
